# Python
__pycache__/
*.py[cod]
*$py.class
venv/
*.egg-info/

# Data (too large for git)
data/raw/*.csv
data/processed/*.pkl
data/federated/*.pkl

# Models (too large for git)
models/baseline/*.pkl
models/federated/*.pth

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Environment
.env
